.example-container {
    display: flex;
    flex-direction: column;
    width: 40%;
  }
  
  .example-container > * {
    width: 100%;
  } 
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }
  .div1 {
      background-color: #2c2e3e;
      width: 100%;
      height: 30%;
      z-index: 0;
  }
  .div2 {
      background-color: #ffffff;
      width: 100%;
      height: 70%;
      z-index: 0;
  }
  .heading {
    width: 100%;
    position: fixed;
    top: 10%;
     z-index: 1;
    display: flex;
    justify-content: center;
  }
  .div3 {
      width: 100%;
     position: fixed;
     top: 20%;
      z-index: 1;
     display: flex;
     justify-content: center;
  }
  .loginIcon {
    font-size: 6em;
    width: 100%;
    height: 100%;
  }
  .logoDiv {
      text-align: center;
  }
  .loginbtn {
    width: 30%;
    background-color: #2c2e3e;
      color: #ffffff;

  }
  .btndin {
      text-align: center;
  }
  .heading {
    text-align: center;
    color: #ffffff;
    background-color: #2c2e3e;
  }