<!--The content below is only a placeholder and can be replaced.-->
<ng-container *ngIf="check()"></ng-container>
<ng-container *ngIf="login">
        <router-outlet></router-outlet>
</ng-container>
<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" *ngIf="loggedin">
  <mat-toolbar class="example-toolbar navbarCss">
    <!-- side bar for menu -->
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name">Responsive App</h1>

    <span class="toolbar-spacer"></span>

    <!-- for email  -->
    <button class="emailbtn" mat-button [matMenuTriggerFor]="menuEmail">
      <mat-icon class="toolbar-icon" matBadge="3" matBadgePosition="after" matBadgeColor="accent">email</mat-icon>
    </button>
    <mat-menu #menuEmail="matMenu">
      <button mat-menu-item>

        <div mat-card-avatar class="example-header-image profilephoto">
        </div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>

      </button>
      <button mat-menu-item>
        <div mat-card-avatar class="example-header-image profilephoto">
        </div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </button>
    </mat-menu>
    <!-- for notification -->
    <button mat-button [matMenuTriggerFor]="menuNotification">
      <mat-icon class="toolbar-icon" matBadge="3" matBadgePosition="after" matBadgeColor="accent">notifications
      </mat-icon>
    </button>
    <mat-menu #menuNotification="matMenu">
      <button mat-menu-item> </button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    <!-- for name and profile photo -->
    <div mat-card-avatar class="example-header-image profilephoto">
    </div>
    <button mat-button [matMenuTriggerFor]="menuUser">
      <mat-card-title>Steve Jobs<mat-icon>keyboard_arrow_down</mat-icon>
      </mat-card-title>
    </button>
    <mat-menu #menuUser="matMenu">
      <button mat-menu-item>
        <mat-icon>setting</mat-icon> Settings
      </button>
      <button mat-menu-item>
        <mat-icon>logout</mat-icon> Logout
      </button>
    </mat-menu>

    <!-- for to-do -->
    <mat-menu #appMenu="matMenu" yPosition="above">
      <button mat-menu-item>Settings</button>
      <button mat-menu-item>Help</button>
    </mat-menu>
    <!-- button for left side sidebar -->
    <button class="emailbtn" mat-icon-button (click)="endside.toggle()">
      <mat-icon>more_vert</mat-icon>
    </button>

  </mat-toolbar>
  <!-- for left side sidebar -->
  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav class="leftsidebar" opened #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list >
        <a mat-list-item routerLink="/demo" style="color: #fff">demodemodemodemo</a>
        <a mat-list-item routerLink="/dashboard" style="color: #fff">dashboard</a>
        <a mat-list-item routerLink="/login" style="color: #fff">login</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
            <router-outlet></router-outlet>
    </mat-sidenav-content>
    <mat-sidenav mode="side" position="end" #endside [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-tab-group>
        <mat-tab label="TO DO LIST"> Content 1 </mat-tab>
        <mat-tab label="CHAT"> Content 2Content 2 </mat-tab>
      </mat-tab-group>
    </mat-sidenav>
  </mat-sidenav-container>
</div>

